div.TmgZY6tDcdErbE5d7E0HJ {
    display: none;
}

div.voxuu6-1.TIxQA {
    display: none;
}

div._ZhON3a3vplThB8NFwuJn {
    display: none;
}

div.m3aNC6yp8RrNM_-a0rrfa {
    height: 260px;
}

video.media-element.tErWI93xEKrI2OkozPs7J {
    height: 300px;
}

div.fo16tt-0.bJBAtI {
    height: 200px;
}

img._2_tDEnGMLxpM6uOa2kaDB3.media-element {
    height: 250px;
}

div._1b1Jalg2nxA_Z-BjKXRfAV {
    display: none;
}

div._3RPJ8hHnfFohktLZca18J6 {
    display: none;
}